.app {
  text-align: center;
}

.character-list {
  min-height: 540px;
  width: 100%;
  padding: 50px 0 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #92857c;
}

.character-select-card {
  display: flex;
  width: 200px;
  height: 520px;
  margin: 20px 40px 20px 40px;
  padding: 0 40px 0 40px;
  border-radius: 3px;
  border: 2px solid #504137;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(201, 192, 174);

  -webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  -moz-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
}

.character-select-card-error {
  display: flex;
  width: 200px;
  height: 520px;
  margin: 20px 40px 20px 40px;
  padding: 0 40px 0 40px;
  border-radius: 3px;
  border: 2px solid #f7b10a;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(201, 192, 174);

  -webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  -moz-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
}

.character-image {
  display: block;
  margin: 0 auto;
  height: 160px;
  width: 160px;
  border-radius: 100%;
}

.character-data {
  font-size: 1em;
  text-transform: capitalize;
}

.character-randomize-button {
  margin: 10px 0 10px 0;
  padding: 15px;
  font-size: 0.6em;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #fff;
  border-radius: 3px;
  border: none;
  transition: 0.5s background-color;
  opacity: 0.8;
  cursor: pointer;

  -webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  -moz-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
}

.character-randomize-button:hover {
  background-color: rgb(223, 217, 202)
}

.characters-confirm {
  padding: 40px 10px 120px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #92857c;
}

.characters-reset-button {
  margin: 0 5px 0 5px;
  padding: 20px 40px 20px 40px;
  font-size: 1em;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #383838;
  color: #f7b10a;
  border: 1px solid #f7b10a;
  border-radius: 3px;
  transition: 0.5s background-color;
  opacity: 0.8;
  cursor: pointer;

  -webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  -moz-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
}

.characters-reset-button:hover {
  background-color: #92690b;
}

.characters-confirm-button {
  margin: 0 5px 0 5px;
  padding: 20px 40px 20px 40px;
  font-size: 1em;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #a7210d;
  color: #f7b10a;
  border: 1px solid #ea3012;
  border-radius: 3px;
  transition: 0.5s background-color;
  opacity: 0.8;
  cursor: pointer;

  -webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  -moz-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
}

.characters-confirm-button:hover {
  background-color: #ea3012;
}

.party-frontier {
  padding: 0 20px 0 20px;
  min-height: 740px;
  width: 100%;
  background-color: #92857c;
}

.party-frontier-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.party-character {
  margin: 10px 10px 10px 10px;
  width: 180px;
  height: 180px;
  background-color: #535353;
  border-radius: 3px;
}

.party-character:hover {
  background-color: #f7b10a;
  cursor: pointer;
}

.party-character-image {
  display: block;
  margin: 10px auto;
  height: 80px;
  width: 80px;
  border-radius: 100%;
}

.party-character-data {
  font-size: 1em;
  text-transform: capitalize;
}

.party-frontier-map {
  width: auto;
  height: 95vh;
  background-size: cover;
}