.app {
  text-align: center;
}

.character-list-background {
  background-image: url("../../assets/img/character-list-background.jpg");
  background-size: cover;
}

.character-list {
  min-height: 540px;
  width: 100%;
  padding: 50px 0 50px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.button-menu {
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.secondary-button:disabled {
  margin: 5px 5px 5px 5px;
  padding: 20px 40px 20px 40px;
  font-size: 1em;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #383838;
  color: #f7b10a;
  border: 1px solid #000;
  border-radius: 3px;
  transition: 0.5s background-color;
  opacity: 0.8;
  cursor: not-allowed;

  -webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  -moz-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
}

.secondary-button:not(:disabled) {
  margin: 5px 5px 5px 5px;
  padding: 20px 40px 20px 40px;
  font-size: 1em;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #383838;
  color: #f7b10a;
  border: 1px solid #000;
  border-radius: 3px;
  transition: 0.5s background-color;
  opacity: 0.8;
  cursor: pointer;

  -webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  -moz-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
}

.secondary-button:hover {
  background-color: #92690b;
}

.primary-button:disabled {
  margin: 5px 5px 5px 5px;
  padding: 20px 40px 20px 40px;
  font-size: 1em;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #000;
  color: #f7b10a;
  border: 1px solid #000;
  border-radius: 3px;
  transition: 0.5s background-color;
  opacity: 0.8;
  cursor: not-allowed;

  -webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  -moz-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
}

.primary-button:not(:disabled) {
  margin: 5px 5px 5px 5px;
  padding: 20px 40px 20px 40px;
  font-size: 1em;
  font-family: inherit;
  text-transform: uppercase;
  background-color: #000;
  color: #f7b10a;
  border: 1px solid #000;
  border-radius: 3px;
  transition: 0.5s background-color;
  opacity: 0.8;
  cursor: pointer;

  -webkit-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  -moz-box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
  box-shadow: 8px 10px 20px 0 rgba(46,61,73,.15);
}

.primary-button:hover {
  background-color: #ea3012;
}

.frontier-background {
  padding: 0 20px 0 20px;
  min-height: 1040px;
  width: 100%;
  background-image: url("../../assets/img/redux-saga-frontier-map.jpg");
  background-size: cover;
}

.frontier-party-menu {
  display: flex;
  padding: 40px 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.party-character {
  margin: 10px 10px 10px 10px;
  padding: 20px 20px 20px 20px;
  width: 200px;
  height: 200px;
  border-radius: 3px;
  background-color: #dfd7c6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23cabea3' fill-opacity='0.2'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.party-character:hover {
  background-color: #f7b10a;
}

.party-character-image {
  display: block;
  margin: 10px auto;
  height: 80px;
  width: 80px;
  border-radius: 100%;
}

.party-character-data {
  font-size: 1em;
  text-transform: capitalize;
}

.frontier-enemy-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.enemy-character {
  margin: 10px 10px 10px 10px;
  padding: 20px 20px 20px 20px;
  width: 280px;
  height: 280px;
  border-radius: 3px;
  background-color: #dfd7c6;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23cabea3' fill-opacity='0.2'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.enemy-character-image {
  display: block;
  margin: 20px auto;
  height: 160px;
  width: 160px;
  border-radius: 100%;
}

.enemy-character-data {
  font-size: 1em;
  text-transform: capitalize;
}

.party-frontier-map {
  width: auto;
  height: 95vh;
  background-size: cover;
}

.score-menu {
  display: block;
  margin: 10px auto 10px;
  padding: 20px;
  width: 320px;
  min-height: 220px;
  background-color: #383838;
  color: white;
  border: 2px solid #f7b10a;
  border-radius: 3px;
  opacity: 0.9;
}

.high-score {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #383838;
  border: 1px solid #000;
  color: #f7b10a;
  border-radius: 3px;
  opacity: 0.9;
}

.pulsate {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}

@-webkit-keyframes pulsate {
    0% { 
        color: #ffdb88;
    }
    50% { 
        color: #f7b10a;
    }
    100% { 
        color: #ffdb88;
    }
}