.app-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(65, 60, 51);
    height: 50px;
    color: #000;
}
  
.app-title {
    font-size: 1em;
}

.app-header-link {
    padding: 5px 5px 5px 5px;
    height: 40px;
    opacity: 0.6;
}

.app-header-link:hover {
    opacity: 1;
}