.app-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #000;
    padding: 10px 0 0 10px;
    height: 60px;
}
  
.app-header-link {
    padding: 5px 5px 5px 5px;
    height: 40px;
    opacity: 0.8;
}

.app-header-link:hover {
    opacity: 1;
}