.footer {
    margin: -20px 0px 0px 0px;
    height: 400px;
    background: black;
}

.footer p {
    text-align: center;
    line-height: 400px;
    color: rgb(196, 189, 174);
}

.footer a {
    color: #fff;
}

.footer a:hover {
    color: #f7b10a;
}